*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a{
	text-decoration: none;
	color: black;
}

.grid{
	display: grid;
	place-items: center;
	height: 100vh;
	grid-template-rows: 1fr 5fr;
	background: whitesmoke;
}

.row{
	display: flex;
	text-align: center;
}

.row.v{
	flex-direction: column;
}

hr{
	width: 500px;
}

.row.h{
	gap: 15px;
}

.col{
	box-shadow: 0 0 5px rgba(0, 0, 0, .1);
	padding: 10px;
	background: white;
}
