/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

@import "_variables.css";
@import "_mixin.css";
@import "_animations.css";
@import "_global.css";
@import "_header.css";
@import "_hero.css";
@import "_feature.css";
@import "_article.css";
@import "_footer.css";
@import "_hakkimizda.css";
@import "_ticari.css";
@import "_cozumler.css";
@import "_tasarimlar.css";
@import "_destek.css";
@import "_destek.css";
