/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

@import "_ariables.css";
@import "mixin.css";
@import "animations.css";
@import "global.css";
@import "header.css";
@import "hero.css";
@import "feature.css";
@import "article.css";
@import "footer.css";
@import "hakkimizda.css";
@import "ticari.css";
@import "cozumler.css";
@import "tasarimlar.css";
@import "destek.css";
@import "destek.css";
